<div class="card mt-3" style="border: 0">
  <div class="card-body">
    <h5 class="card-title"><strong>{{title}}</strong></h5>
    <h6 class="card-subtitle mb-2 text-primary"><strong>Shortcode {{shortcode}}</strong></h6>
    <h6 class="text-secondary">by {{author.username}} on {{format_date created_at}}</h6>  </div>
</div>