body {
    padding: 0;
    margin: 0;
    background: #bce6f4;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar {
    background: #9c1f1f;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('./assets/yaynayzlogo.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}
