body {
color:#BCE6F4;
}

button {
    color:#F4C1D1;
}

info-bar {
    color:#B33E3E;
}

info-box {
    color:#E5E1E2;
}

yay-bar {
    color:#B33E3E;
}

nay-bar {
    color:#6492B5;
}

footer {
    color:#B33E3E;
}