<div class="container-fluid mt-3">
  <h3>Create New Question</h3>
  <form class="new-question-form">
  <div class="form-group blue-border">
    <h5>Title</h5>
    <input class="form-control" id="question-title" name="question-title" rows="1" aria-label="Title"/>
  </div>
  <div class="form-group blue-border">
    <h5>Shortcode</h5>
    <input class="form-control" id="question-shortcode" name="question-shortcode" rows="1" aria-label="Shortcode"/>
  </div>
  <div class="col text-start mt-3">
    <a class="btn btn-secondary" href="/dashboard" role="button">Cancel</a>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  </form>
</div>

<script>
var btnActive = document.getElementById("dashboardNav");
btnActive.className+= " active";
</script>

<script src="/javascript/add-question.js"></script>