<div class="container">
  <div class="row">
    <div class="col">
      <img src="/img/logo.png" alt="YayNayz logo" class="my-3 img-fluid mx-auto d-block">
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col-6 input-group my-3" style="width: 550px;">
      <input type="text" id="search-field" class="form-control form-control-lg" placeholder="Find by shortcode" aria-label="Find by shortcode" aria-describedby="button-addon2">
      <button onclick="goShortcode()" class="btn btn-warning" type="button" id="button-addon2">GO</button>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="row">
{{#each questions as |question|}}
<div class="col"></div>
<div class="col-6 mt-3" style="width: 550px;">
    {{> question-info question }}
</div>
<div class="col"></div>
{{/each}}
</div>

<script src="/javascript/script.js"></script>
<script src="/javascript/vote.js"></script>